<!--<mat-form-field [formGroup]="form" class="cmp-full-width">-->
<!-- Angular Material currently only supports dates, therefore another library is used until this is supported -->
<!--<input matInput [matDatepicker]="picker" [placeholder]="field.title" [formControlName]="field.name">-->
<!--<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--<mat-datepicker #picker></mat-datepicker>-->
<!--</mat-form-field>-->
<div [formGroup]="form" class="cmp-full-width">
  <md2-datepicker type="datetime" [required]="field.required" [placeholder]="field.title"
                  [formControlName]="field.name"></md2-datepicker>
</div>
